.drawer-panel{
	position: fixed;
	background-color: #fff;
	width: 300px;
	height: 100vh;
	left:0px;
	top:0px;
	box-shadow:0px 0 30px rgba(0, 0, 0, 0.3);
	transition:transform 0.5s ease;
	transform:translateX(-500px);
	z-index: 10000;
	@include v-box();
}
.drawer-content{
	overflow-x:hidden;
	overflow-y:auto;
	@include hv-box-flex(1);
}

.drawer-backdrop{
	position: fixed;
	z-index:9999;
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
	background-color:rgba(255, 255, 255, 0.5);
	display:none;
	//opacity:0;
	//transition:opacity 0.5s ease;
}
//body.drawer-in .drawer-backdrop{
//	z-index: 9999;
//	opacity:1;
//}
body.drawer-in .drawer-panel{
	transform: translateX(0px);
}
body.drawer-in{
	overflow:hidden;
}