//
// Responsive utilities
//

@mixin hv-box(){
    display: flex;
    &.center{
            justify-content: center;
    }
    &.center.center{
        align-items:center; 
    }

    &.wrap{
        flex-wrap: wrap;
    }
}

@mixin h-box(){
    @include hv-box();
    flex-direction:row;
}

@mixin v-box(){
    @include hv-box();
    flex-direction:column;
}

@mixin hv-box-flex-basis(){
    flex-basis:.000000001px;
}

@mixin hv-box-flex($flex){
    flex-grow:1;
    flex-shrink:1;
    flex:$flex;
}
